<link rel="stylesheet" type="text/css" href="https://www.fontstatic.com/f=Noto-Urdu,amiri-quran" />

<div class="flex-column width100 align-center height100 gap3 font20px bold700 padding30">
    <img src="~/logo.png" class="width250px height250px animation-spin">
    <div class="flex-row width40 justify-content-between">
        <div class="flex-column align-center gap1">
            <span class="special-font2"> تصميم و تطوير: </span>
            <div>
                <span class="special-font2"> مهندس/ </span>
                <span class="special-font"> محمد شعبان البي</span>
            </div>
            <span class="special-font2"> "عبد سابقا" </span>
        </div>
        <div class="flex-column align-center gap1">
            <span class="special-font2"> تم بإشراف: </span>
            <div>
                <span class="special-font2"> نقيب/ </span>
                <span class="special-font">  محمود محروس</span>
            </div>
            <span class="special-font2"> ضابط شؤون المجندين </span>
        </div>
    </div>
</div>
