<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        .editor {
            min-height: 10px;
            width: 100%;
            border: 1px solid black;
            padding: 10px;
        }

        .editor-commands ul {
            list-style-type: none;
            padding: 0;
        }

            .editor-commands ul li {
                display: inline;
                margin-right: 10px;
                width: 10px;
                height: 10px;
            }

                .editor-commands ul li button {
                    font-family: 'Material Icons';
                }
    </style>
</head>
<body>
    <div class="editor" contenteditable="true"></div>
    <div class="editor-commands">
        <ul>
            <li><button type="reset" onclick="document.execCommand('undo')" title="Undo"><i class="material-icons">undo</i></button></li>
            <li><button type="reset" onclick="document.execCommand('redo')" title="Redo"><i class="material-icons">redo</i></button></li>
            <li><button type="reset" onclick="document.execCommand('insertHorizontalRule')" title="Horizontal Rule"><i class="material-icons">remove</i></button></li>
            <li><button type="reset" onclick="document.execCommand('bold')" title="Bold"><i class="material-icons">format_bold</i></button></li>
            <li><button type="reset" onclick="document.execCommand('italic')" title="Italic"><i class="material-icons">format_italic</i></button></li>
            <li><button type="button" onclick="document.execCommand('underline')" title="Underline"><i class="material-icons">format_underline</i></button></li>
            <li><button type="reset" onclick="document.execCommand('strikeThrough')" title="Strike Through"><i class="material-icons">strikethrough_s</i></button></li>
            <li><button type="reset" onclick="document.execCommand('justifyLeft')" title="Align Left"><i class="material-icons">format_align_left</i></button></li>
            <li><button type="reset" onclick="document.execCommand('justifyCenter')" title="Align Center"><i class="material-icons">format_align_center</i></button></li>
            <li><button type="reset" onclick="document.execCommand('justifyRight')" title="Align Right"><i class="material-icons">format_align_right</i></button></li>
            <li><button type="reset" onclick="document.execCommand('justifyFull')" title="Justify"><i class="material-icons">format_align_justify</i></button></li>
            <li><button type="reset" onclick="document.execCommand('indent')" title="Indent"><i class="material-icons">format_indent_increase</i></button></li>
            <li><button type="reset" onclick="document.execCommand('outdent')" title="Outdent"><i class="material-icons">format_indent_decrease</i></button></li>
            <li><button type="reset" onclick="document.execCommand('insertUnorderedList')" title="Unordered List"><i class="material-icons">format_list_bulleted</i></button></li>
            <li><button type="reset" onclick="document.execCommand('insertOrderedList')" title="Ordered List"><i class="material-icons">format_list_numbered</i></button></li>
            <li><button type="reset" onclick="document.execCommand('formatBlock', false, 'h1')" title="Heading 1"><i class="material-icons">looks_one</i></button></li>
            <li><button type="reset" onclick="document.execCommand('formatBlock', false, 'h2')" title="Heading 2"><i class="material-icons">looks_two</i></button></li>
            <li><button type="button" onclick="document.execCommand('formatBlock', false, 'h3')" title="Heading 3"><i class="material-icons">looks_3</i></button></li>
        </ul>
    </div>
</body>
</html>
<script src="~/js/operationDescription.js"></script>
