<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> @ViewBag.Title </title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    <nav>
        <div class="container need-media-row">
            <img src="~/logo.png" class="logo"/>
            
            <div class="flex-row align-center justify-content-end padding1 gap7 font20px bold700 need-media-row">
                <div>
                    <a asp-controller="SoldierHolidays" asp-action="GetAll">
                        <button class="hover flex-row gap1 justify-content-between cursor bg-transperant">
                            <span class="material-symbols-rounded" style="font-size:29px;">
                                hotel
                            </span>
                            <span class="font20px bold">الأجازات</span>
                        </button>
                    </a>

                </div>
                <div>
                    <a asp-controller="Operations" asp-action="GetAll"> 
                        <button class="hover flex-row gap1 justify-content-between cursor bg-transperant">
                            <span class="material-symbols-rounded" style="font-size:29px;">
                                pending_actions
                            </span>
                            <span class="font20px bold">اليومية</span>
                        </button>
                    </a>
                </div>
                <div>
                    <a asp-controller="Soldiers" asp-action="GetAll"> 
                        <button class="hover flex-row gap1 justify-content-between cursor bg-transperant">
                            <span class="material-symbols-rounded" style="font-size:29px;">
                                group
                            </span>
                            <span class="font20px bold">أصل القوة</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <main>
        <section>
            @RenderBody()
        </section>


    </main>



</body>
</html>

<script src="~/js/layout.js"></script>

