<div class="center mg-top50 mg-bottom50 gap5">
	<a asp-controller="OperationOfficers" asp-action="Search" class="center padding1 gap2 font20px card-radius height50px cursor width200px shadow1 bold">
		ضباط
		<span class="material-symbols-rounded">
			groups
		</span>
	</a>
	<a asp-controller="OperationAssistants" asp-action="Search" class="center padding1 gap2 font20px card-radius height50px cursor width200px shadow1 bold">
		أمناء شرطة
		<span class="material-symbols-rounded">
			groups
		</span>
	</a>
	<a asp-controller="OperationSoldiers" asp-action="Search" class="center padding1 gap2 font20px card-radius height50px cursor width200px shadow1 bold">
		مجندين
		<span class="material-symbols-rounded">
			groups
		</span>
	</a>
	<a asp-controller="OperationVehicles" asp-action="Search" class="center padding1 gap2 font20px card-radius height50px cursor width200px shadow1 bold white bg-primary">
		مركبات
		<span class="material-symbols-rounded">
			airport_shuttle
		</span>
	</a>
</div>